{% extends 'base.html' %}
{% load static %}

{% block title %}Homepage{% endblock %}

{% block extrahead %}<link rel="stylesheet" href="{% static "about_us.css" %}">{% endblock %}

{% block content %}
    <h1>XemaCars Ltd</h1>
    <h2>Sobre Nosotros</h2>
    <p>XemaCars Ltd es una empresa de alquiler de coches de lujo a precios competitivos. Fundada en 2005, hemos estado proporcionando a nuestros clientes vehículos de alta gama para que puedan disfrutar de una experiencia de conducción excepcional sin tener que pagar precios exorbitantes. Nuestra flota incluye marcas de renombre como Ferrari, Lamborghini, Bentley y más.</p>
    <h2>Nuestra Historia</h2>
    <p>Desde nuestros humildes comienzos en un pequeño garaje, hemos crecido hasta convertirnos en una de las principales empresas de alquiler de coches de lujo en la región. Nuestro crecimiento se debe a nuestro compromiso con la calidad del servicio y la satisfacción del cliente. A lo largo de los años, hemos ampliado nuestra flota y hemos mejorado nuestros servicios para satisfacer las necesidades cambiantes de nuestros clientes.</p>
    <h2>¿Por qué confiar en nosotros?</h2>
    <p>Creemos que el lujo debe ser accesible para todos. Por eso, trabajamos incansablemente para ofrecer los mejores vehículos a los precios más competitivos. Además, nuestro equipo de atención al cliente está siempre disponible para ayudarle con cualquier pregunta o problema que pueda tener. Nos enorgullece ofrecer un servicio excepcional y nos esforzamos por superar las expectativas de nuestros clientes en cada alquiler.</p>
{% endblock %}