{% extends 'base.html'%}
{% load static %}

{% block title %}Añadir Producto{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static "base.css" %}">
<link rel="stylesheet" href="{% static "home.css" %}">
{% endblock %}

{% block content %}
<div style="text-align: center; margin-top: 100px;">
    <h1>403 Forbidden</h1>
    <p>Sorry, you don't have permission to access this page.</p>
    <p ><a style="color: var(--orange)" href="/">Go to the homepage</a></p>
</div>
{% endblock %}