h2 {
  text-align: center;
  margin: 10px 0;
}
.product-card {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: var(--box-shadow);
}

.product-details {
  display: flex;
  max-height: 380px;
  gap: 20px;
  justify-content: space-around;
  position: relative;
}

.detail-image {
  max-width: 60%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.combustion {
  margin-bottom: 5px;
}

.detail-info {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.brand-year {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
}

#admin-edit {
  position: absolute;
  bottom: 0px;
  right: 10px;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.products-opinion {
  margin-top: 20px;
}

.products-opinion .filter {
  margin: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.filter.no-opinions {
  justify-content: space-between;
}

.filter select {
  padding: 10px;
  font-family: var(--fuente2);
  font-size: var(--body-text);
  border: 1px solid var(--grey);
  border-radius: var(--border-radius);
}

.opinions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.opinion {
  box-shadow: var(--box-shadow);
}

.opinion-header h4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.opinion-header .date {
  font-family: var(--fuente3);
}

.value-us {
  margin: 20px 0 20px 0;
}

.value-us .form-field label {
  display: flex;
  align-items: center;
  justify-content: end;
}

form textarea {
  padding: 10px;
}
