{% extends 'base.html'%}
{% load static %}

{% block title %}Login{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static "base.css" %}">
<link rel="stylesheet" href="{% static "user_table.css" %}">

{% endblock %}

{% block content %}
    <section class="form-card">
        <h2>Are you sure you want to delete this user?</h2>
        <div class="buttons-yes-no">
            <form method="POST">
                {% csrf_token %}
                <input class="primary-button" type="submit" value="Yes">
            </form>
            <a class="secondary-button" href="/users/list">No</a>
        </div>
    </section>
{% endblock %}