{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static "base.css" %}">
    <link rel="stylesheet" href="{% static "home.css" %}">
{% endblock %}

{% block content %}
    <img src="{% static 'hero.jpg' %}" alt="hero">
    {% if message %}
        <p class="form-errors text-white">{{ message }}</p>
    {% endif %}
    <form method="post" class="form">
        <h3 class="card-title">Bienvenido a XemaCars Ltd.</h3>
        {% csrf_token %}
        <div class="form-field">
            <label for="id_username">
                Usuario
            </label>
            {{ form.username }}
        </div>
        <div class="form-field">
            <label for="id_password">
                Contraseña

            </label>
            {{ form.password }}
        </div>
        <div class="form-field">
            <div class="input-checkbox">
                <label for="id_remember_me"><span>{{ form.remember_me }}</span>Recuérdame</label>
            </div>
        </div>
        <button class="primary-button" type="submit">Iniciar Sesión</button>
    </form>
{% endblock %}