h1 {
    margin-top: 10px;
    text-align: center;
}

.material-icons.header-profile {
    color: var(--dark-orange);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    display: flex;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px;
    width: 400px;
    height: 220px;
    justify-content: space-between;
    align-items: center;
}
.user-image{
    margin: 10px;
}
