h1 {
    margin-top: 10px;
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    display: flex;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px;
    flex-direction: row;
    width: 380px;
    height: 220px;
}