{% extends 'base.html'%}
{% load static %}

{% block title %}Todos los Pedidos{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static "base.css" %}">
    <link rel="stylesheet" href="{% static "all-orders.css" %}">
{% endblock %}

{% block content %}
    {% if form %}
    <pre> 
        <h1>Pedidos</h1>
    </pre>
    <form method="post">
        <div class="form">
            {% csrf_token %}
            {{ form.estado.label_tag }}
            {{ form.estado }}
            <div class="field-wrapper">
                {{ form.no_cancelados.label_tag }}
                {{ form.no_cancelados }}
            </div>
            <div class="links">
                <input type="submit" value="Filtrar">
                <a href="all_orders">Resetear Filtros</a>
            </div>
        </div>
    </form>
    {% endif %}
    <br>
    <br>
    {% if orders %}
        {% for order in orders %}
        <div class="order">
            <div class="card">
                <div id="customer-date">
                    {% if order.customer != null %}
                        <h2>{{ order.customer }} ({{ order.email }})</h2>
                    {% else %}
                        <h2>{{ order.email }}</h2>
                        {% endif %}
                    <h3>{{ order.date|date:"d/m/Y" }}</h3>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Inicio</th>
                            <th>Final</th>
                            <th>Estado</th>
                            <th>Cancelar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in order.order_products %}
                            <tr>
                                <td>{{ product.product.name }}</td>
                                <td>{{ product.product.price }} € / día</td>
                                <td>{{ product.start_date|date:"d/m/Y" }}</td>
                                <td>{{ product.end_date|date:"d/m/Y" }}</td>
                                <td>{{ product.status }}</td>
                                <td>
                                    <form method="post" action="{% url 'cancel_orderproduct' product.id %}">
                                        {% csrf_token %}
                                        {% if product.cancelled %}
                                            <button type="submit" value="X" class="circle-disabled-btn">
                                                <span class="material-symbols-outlined">cancel</span>
                                            </button>
                                        {% else %}
                                            <button type="submit" value="X" class="circle-button">
                                                <span class="material-symbols-outlined">cancel</span>
                                            </button>
                                        {% endif %}
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for product in order.order_status %}
                            <tr>
                                <td>{{ product.order_status }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div id="customer-date">
                    <h3>Total: {{ order.total }} €</h3>
                    <div id="estado-cancelar">
                        <h3>
                            {% if order.completely_cancelled %}
                                <span class="cancelled">Cancelado</span>
                            {% else %}
                                <span class="active">Activo</span>
                            {% endif %}
                        </h3>
                    </div>
                </div>
            </div>
            <form method="post" action="{% url 'cancel_order' order.id %}">
                {% csrf_token %}
                {% if order.completely_cancelled %}
                    <button type="submit" value="X" class="disabled-btn">
                        <span class="material-icons">delete</span>
                    </button>
                {% else %}
                    <button type="submit" value="X" class="delete-button">
                        <span class="material-icons">delete</span>
                    </button>
                {% endif %}
            </form>
        </div>
        {% endfor %}
    {% else %}
        <h1>No Se Ha Realizado Ningun Pedido</h1>
    {% endif %}
    </br>
    </br>
{% endblock %}
