{% extends 'base.html'%}
{% load static %}

{% block title %}Mis Pedidos{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static "base.css" %}">
    <link rel="stylesheet" href="{% static "all-orders.css" %}">
{% endblock %}

{% block content %}
    {% if orders %}
        {% for order in orders %}
        <div class="order">
            <div class="card">
                <div id="customer-date">
                    <h2>{{ order.customer }}</h2>
                    <h3>{{ order.date|date:"d/m/Y" }}</h3>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Inicio</th>
                            <th>Final</th>
                            <th>Cancelar</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in order.order_products %}
                            <tr>
                                <td>{{ product.product.name }}</td>
                                <td>{{ product.product.price }} € / día</td>
                                <td>{{ product.start_date|date:"d/m/Y" }}</td>
                                <td>{{ product.end_date|date:"d/m/Y" }}</td>
                                <td>
                                    <form method="post" action="{% url 'cancel_orderproduct' product.id %}">
                                        {% csrf_token %}
                                        {% if product.cancelled %}
                                            <button type="submit" value="X" class="disabled-btn">
                                                <span class="material-symbols-outlined">close</span>
                                            </button>
                                        {% else %}
                                            <button type="submit" value="X" class="primary-button">
                                                <span class="material-symbols-outlined">close</span>
                                            </button>
                                        {% endif %}
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div id="customer-date">
                    <h3>Total: {{ order.total }} €</h3>
                    <div id="estado-cancelar">
                        <h3>
                            {% if order.completely_cancelled %}
                                <span class="cancelled">Cancelado</span>
                            {% endif %}
                        </h3>
                    </div>
                </div>
            </div>
            <form method="post" action="{% url 'cancel_order' order.id %}">
                {% csrf_token %}
                {% if order.completely_cancelled %}
                    <button type="submit" value="X" class="disabled-btn">
                        <span class="material-symbols-outlined">close</span>
                    </button>
                {% else %}
                    <button type="submit" value="X" class="primary-button">
                        <span class="material-symbols-outlined">close</span>
                    </button>
                {% endif %}
            </form>
        </div>
        {% endfor %}
    {% else %}
        <h1>No Se Ha Realizado Ningun Pedido</h1>
    {% endif %}
{% endblock %}