{% extends 'base.html'%}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static "base.css" %}">
<link rel="stylesheet" href="{% static "details.css" %}">
<link rel="stylesheet" href="{% static "product-list.css" %}">
<script src="{% static "products.js" %}"></script>
{% endblock %}

{% block content %}
<h2>Detalles del producto</h2>
<section class="product-card">
    <div class="product-details">
        <div class="detail-image">
            <img class="car-img" src="{{ product.image_url }}" alt="{{ product.name }}">
        </div>
        <div class="detail-info">
            <h2>{{ product.name }}</h2>
            <div class="brand-year">
                <h4 class="product-brand">{{ product.brand }}</h4>
                <h4> - </h4>
                <h4 class="product-year">{{ product.year }}</h4>
            </div>
            <div class="combustion">
                <h4 class="product-combustion">{{ product.combustion_type }}</h4>
            </div>
            <p class="card-rating">
                <span class="material-icons">star</span>
                {% if product.average_rating %}
                {{ product.average_rating|floatformat:1 }}
                {% else %}
                -
                {% endif %}
            </p>
            <p>{{ product.description }}</p>
            <h2 class="product-price">{{ product.price }} € / día</h2>
            {% if product.available %}
                <a id="buy-btn" class="primary-button" >Reservar</a>
            {% else %}
                <a class="primary-button disabled-btn" >Producto no disponible</a>
            {% endif %}
            {% if user.is_superuser %}
                <div id="admin-edit">
                    <a class="icon-link" href="/products/details/{{ product.id }}/edit"><span class="material-icons">edit</span></a>
                    <a class="icon-link" href="/products/details/{{ product.id }}/delete"><span class="material-icons">delete</span></a>
                </div>
            {% endif %}
        </div>
    </div>
</section>
<section class="products-opinion">
    <h3>Opiniones de nuestros clientes</h3>
    <div class="filter {% if opinions|length == 0 %}no-opinions{% endif %}">
        {% if opinions|length == 0 %}
        <p>No hay opiniones para este producto</p>
        {% endif %}
        <label for="filter">Filtrar por: 
            <select id="filter">
                <option value="">Selecione un filtro</option>
                <option value="rating">Valoración</option>
                <option value="date">Fecha</option>
            </select>
        </label>
    </div>
    <div id="opinion-container" class="opinions">
        {% for opinion in opinions %}
        <div id="opinion-card" class="opinion card">
            <div class="opinion-header">
                <h4><span class="material-icons">account_circle</span>{{ opinion.customer }}</h4>
                <p class="card-rating"><span class="material-icons">star</span>{{ opinion.rating }}</p>
                <h5>{{ opinion.title }}</h5>
                <p class="date">{{ opinion.created_at }}</p>
            </div>
            <div class="opinion-body">
                <p>{{ opinion.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="value-us">
        <h3>Comparte tu experiencia</h3>
        {% if form.errors %}
        <section class="form-errors-container">
            {% for field, errors in form.errors.items %}
            <section class="form-errors">
                <p class="text-white">{{ errors|striptags }}</p>
            </section>
            {% endfor %}
        </section>
        {% endif %}
        <form class="form" method="post">
            {% csrf_token %}
            {{ form.customer }}
            {{ form.product }}
            <div class="form-field">
                <label for="id_rating"><span class="material-icons">star</span>Valoración: </label>
                {{ form.rating}}
            </div>
            
            <div class="form-field">
                <label for="id_title">Título: </label>
                {{ form.title }}
            </div>
            
            <div class="form-field">
                <label for="id_description">Descripción: </label>
                {{ form.description }}
            </div>
            
            <input type="submit" value="Enviar" class="primary-button">
        </form>
    </div>
</section>
<div class="modal">
    <div class="modal-content form card-container">
        <h2>Elige un rango de fecha</h2>
        <span class="close material-icons">close</span>
        <article class="form-field">
            <label>Desde:</label>
            <input id="from-date" type="date"/>
        </article>
        <article class="form-field">
            <label>Hasta:</label>
            <input id="to-date" type="date" disabled/>
        </article>
        <p id="error-msg"></p>
        <a id="confirm-btn" class="primary-button">Confirmar</a>
    </div>
</div>
{% endblock %}


<script>
    {% block extrajs %}
    document.addEventListener('DOMContentLoaded', () => {
        const buyBtn = document.getElementById('buy-btn');

        updateButton('{{ product.id }}', buyBtn, '{{ csrf_token|safe }}');
    });

    
    function sortedOpinions() {
        const filterTerm = document.getElementById('filter').value.toLowerCase();
        const listProducts = document.querySelectorAll('#opinion-card');
        
        const sortedList = Array.from(listProducts).sort(function (a, b) {
            let valueA, valueB;
            
            if (filterTerm === 'rating') {
                valueA = parseFloat(a.querySelector('.card-rating').textContent.toLowerCase().replace("star", ""));
                valueB = parseFloat(b.querySelector('.card-rating').textContent.toLowerCase().replace("star", ""));
            } else if (filterTerm === 'date') {
                valueA = parseCustomDate(a.querySelector('.date').textContent.toLowerCase().trim());
                valueB = parseCustomDate(b.querySelector('.date').textContent.toLowerCase().trim());
            }
            return valueB - valueA;
        });
        
        const container = document.getElementById('opinion-container');
        sortedList.forEach(function (item) {
            container.appendChild(item);
        });
    };
    
    function parseCustomDate(dateString) {
        const parts = dateString.split(' ');
        
        const day = parseInt(parts[0], 10);
        const monthStr = parts[2];
        const year = parseInt(parts[4], 10);
        
        const months = ['enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre'];
        const month = months.indexOf(monthStr.toLowerCase());
        
        const hoursMinutes = parts[7].split(':');
        const hour = parseInt(hoursMinutes[0], 10);
        const minutes = parseInt(hoursMinutes[1], 10);
        
        const dateParse = new Date(year, month, day, hour, minutes);
        
        return dateParse;
    }
    
    document.getElementById('filter').addEventListener('change', sortedOpinions);
    {% endblock %}
</script>
