{% extends 'base.html'%}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static "base.css" %}">
<link rel="stylesheet" href="{% static "details.css" %}">
<link rel="stylesheet" href="{% static "product-list.css" %}">
{% endblock %}

{% block content %}
<h2>Detalles del producto</h2>
<section class="product-card">
    <div class="product-details">
        <div class="detail-image">
            <img class="car-img" src="{{ product.image_url }}" alt="{{ product.name }}">
        </div>
        <div class="detail-info">
            <h2>{{ product.name }}</h2>
            <div class="brand-year">
                <h4 class="product-brand">{{ product.brand }}</h4>
                <h4> - </h4>
                <h4 class="product-year">{{ product.year }}</h4>
            </div>
            <div class="combustion">
                <h4 class="product-combustion">{{ product.combustion_type }}</h4>
            </div>
            <p>{{ product.description }}</p>
            <h2 class="product-price">{{ product.price }} € / día</h2>
            {% if product.available %}
            <a id="buy-btn" class="primary-button" >Comprar</a>
            {% else %}
            <a class="primary-button disabled-btn" >Producto no disponible</a>
            {% endif %}
        </div>
    </div>
</section>
<section class="products-opinion">
    <h3>Opiniones de nuestros clientes</h3>
    <div class="opinions">
        {% for opinion in opinions %}
        <div class="opinion card">
            <div class="opinion-header">
                <h4><span class="material-icons">account_circle</span>{{ opinion.customer }}</h4>
                <p class="card-rating"><span class="material-icons">star</span>{{ opinion.rating }}</p>
                <p class="date">{{ opinion.created_at }}</p>
            </div>
            <div class="opinion-body">
                <p>{{ opinion.description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="value-us">
        <h3>Comparte tu experiencia</h3>
        {% if form.errors %}
        <section class="form-errors-container">
            {% for field, errors in form.errors.items %}
            <section class="form-errors">
                <p class="text-white">{{ errors|striptags }}</p>
            </section>
            {% endfor %}
        </section>
        {% endif %}
        <form class="form" method="post">
            {% csrf_token %}
            <div class="form-field">
                <label for="id_rating"><span class="material-icons">star</span>Valoración: </label>
                {{ form.rating}}
            </div>
            
            <div class="form-field">
                <label for="id_title">Título: </label>
                {{ form.title }}
            </div>
            
            <div class="form-field">
                <label for="id_description">Descripción: </label>
                {{ form.description }}
            </div>
            
            <input type="submit" value="Enviar" class="primary-button">
        </form>
    </div>
</section>
<div class="modal">
    <div class="modal-content form card-container">
        <h2>Elige un rango de fecha</h2>
        <span class="close material-icons">close</span>
        <article class="form-field">
            <label>Desde:</label>
            <input id="from-date" type="date"/>
        </article>
        <article class="form-field">
            <label>Hasta:</label>
            <input id="to-date" type="date" disabled/>
        </article>
        <p id="error-msg"></p>
        <a id="confirm-btn" class="primary-button">Confirmar</a>
    </div>
</div>
{% endblock %}


<script>
    {% block extrajs %}
    document.addEventListener('DOMContentLoaded', () => {
        const buyButton = document.querySelector('#buy-btn');
        
        updateButton();
        
    });
    
    async function updateButton() {
        const buyButton = document.querySelector('#buy-btn');
        {% if user.is_authenticated %}
        response = await fetch("/cart/has_product/{{ product.id }}")
        data = await response.json()
        if (data.has_product) {
            buyButton.innerHTML = 'Añadido al carrito';
            buyButton.classList.add('disabled-btn');
            buyButton.removeEventListener('click', () => {
                spawnBuyModal();
            });
        } else {
            buyButton.innerHTML = 'Comprar';
            buyButton.classList.remove('disabled-btn');
            buyButton.addEventListener('click', () => {
                spawnBuyModal();
            });
        }
        {% else %}
        buyButton.addEventListener('click', () => {
            window.location.href = '/signin';
        });
        {% endif %}
        
    }
    
    function validateDate(date, disabled_dates) {
        const to_date_input = document.querySelector('#to-date');
        const error_msg = document.querySelector('#error-msg');
        
        if (disabled_dates.includes(date)) {
            error_msg.innerHTML = 'La fecha seleccionada no está disponible';
            to_date_input.disabled = true;
            return false;
        }
        
        const from_date = new Date(date);
        minDate = new Date();
        minDate.setDate(from_date.getDate() + 1);
        to_date_input.min = minDate.toISOString().slice(0, 10);
        
        /* get closest date to from_date that is bigger than from_date */
        tmp_disabled_dates = disabled_dates.filter(d => new Date(d) > from_date);
        tmp_disabled_dates.sort((a, b) => new Date(a) - new Date(b));
        
        let to_date;
        if (tmp_disabled_dates.length !== 0) {
            to_date = new Date(tmp_disabled_dates[0]);
            to_date.setDate(to_date.getDate() - 1);
        } else {
            const today = new Date();
            const maxDate = new Date(today.getFullYear() + 1, today.getMonth(), today.getDate()).toISOString().slice(0, 10);
            to_date = new Date(maxDate);
        }
        
        to_date_input.disabled = false;
        to_date_input.max = to_date.toISOString().slice(0, 10);
        
        to_date_input.value = '';
        
        return true;
    }
    
    async function getDisabledDates() {
        const response = await fetch("/products/disabled_dates/{{ product.id }}")
        const data = await response.json()
        const disabled_dates = [];
        const dates = data.disabled_dates;
        dates.forEach(date => {
            start_date = new Date(date.start);
            end_date = new Date(date.end);
            tmp_date = new Date(start_date);
            while (tmp_date <= end_date) {
                disabled_dates.push(tmp_date.toISOString().slice(0, 10));
                tmp_date.setDate(tmp_date.getDate() + 1);
            }
        });
        return disabled_dates;
    }
    
    async function addProductToCart(from_date, to_date) {
        const product_id = {{ product.id }};
        const response = await fetch("/cart/add", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                'product_id': product_id,
                'from_date': from_date,
                'to_date': to_date
            })
        })
        const data = await response.json()
        if (data.error) {
            const error_msg = document.querySelector('#error-msg');
            error_msg.innerHTML = data.error;
        } else {
            getCartCount();
            updateButton();
            showNotification('Producto añadido al carrito', 'success');
            closeModal();
        }
    }
    
    function closeModal() {
        const modal = document.querySelector('.modal');
        modal.style.display = 'none';
    }
    
    async function spawnBuyModal() {
        const response = await getDisabledDates();
        const disabled_dates = await response;
        const modal = document.querySelector('.modal');
        
        /* minDate is today */
        const today = new Date();
        const minDate = today.toISOString().slice(0, 10);
        const maxDate = new Date(today.getFullYear() + 1, today.getMonth(), today.getDate()).toISOString().slice(0, 10);
        
        const from_date_input = document.querySelector('#from-date');
        from_date_input.min = minDate;
        from_date_input.max = maxDate;
        
        modal.style.display = 'flex';
        const close = modal.querySelector('.close');
        close.addEventListener('click', () => {
            modal.style.display = 'none';
        });
        
        document.querySelector('#from-date').onchange = evt => {
            if(!validateDate(evt.target.value, disabled_dates)) {
                evt.target.value = '';
            }
        }
        
        document.querySelector('#confirm-btn').addEventListener('click', () => {
            const from_date = document.querySelector('#from-date').value;
            const to_date = document.querySelector('#to-date').value;
            if (from_date && to_date) {
                addProductToCart(from_date, to_date);
            }
        });
    }
    {% endblock %}
</script>
