{% extends 'base.html'%}
{% load static %}

{% block title %}Borrar usuarios{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static "base.css" %}">
<link rel="stylesheet" href="{% static "home.css" %}">

{% endblock %}

{% block content %}
<img src="{% static 'hero.jpg' %}" alt="hero">
            {% if form.errors %}
            {% for field, errors in form.errors.items %}
            <section class="form-errors">
                <p class="text-white">{{ errors|striptags }}</p>
            </section>
            {% endfor %}
            {% endif %}
            <form method=POST class="form">
                {% csrf_token %}
                <div class="form-field">
                    <label for="id_name">
                        Modelo
                    </label>
                    <input type="text" name="modelo" id="id_name" value="{{ product.name }}">
                </div>
                <div class="form-field">
                    <label for="id_brand">
                        Marca
                    </label>
                    <input type="text" name="brand" id="id_brand" value="{{ product.brand }}">
                </div>
                <div class="form-field">
                    <label for="id_year">
                        Año
                    </label>
                    <input type="text" name="year" id="id_year" value="{{ product.year }}">
                </div>
                <div class="form-field">
                    <label for="id_combustion_type">
                        Combustion
                    </label>
                    <input type="text" name="combustion_type" id="id_combustion_type" value="{{ product.combustion_type}}">
                </div>
                <div class="form-field">
                    <label for="id_description">
                        Descripción
                    </label>
                    <input type="text" name="description" id="id_description" value="{{ product.description }}">
                </div>
                <div class="form-field">
                    <label for="id_price">
                        Precio
                    </label>
                    <input type="text" name="price" id="id_price" value="{{ product.price }}">
                </div>
                <div class="form-field">
                    <label for="id_image_url">
                        Imagen
                    </label>
                    <input type="text" name="image_url" id="id_image_url" value="{{ product.image_url }}">
                </div>
                <div class="form-field">
                    <label for="id_available">
                        Stock
                    </label>
                    <input type="text" name="available" id="id_available" value="{{ product.available }}">
                </div>
                <button type="submit">Guardar</button>
            </form>
{% endblock %}
