.card {
  background-color: var(--secondary-color);
  width: 700px;
  margin: 40px 0;
}

table {
  width: 100%;
  margin: 20px 0;
}

td {
  text-align: center;
  width: 16%;
}

#customer-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#estado-cancelar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

h3 {
  margin: 0;
}

.circle-button {
  margin: 10px auto !important;
  padding: 5px 5px !important;
  font-family: var(--fuente1);
  border-radius: 50% !important;
  display: flex;
}

.delete-button {
  margin: 10px auto !important;
  padding: 5px 5px !important;
  font-family: var(--fuente1);
  display: flex;
}

.circle-disabled-btn {
  background-color: var(--grey) !important;
  color: var(--black);
  transition: var(--transition-duration);
  font-family: var(--fuente1);
  cursor: not-allowed !important;
  margin: 10px auto !important;
  padding: 5px 5px !important;
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disabled-btn {
  background-color: var(--grey) !important;
  color: var(--black);
  transition: var(--transition-duration);
  font-family: var(--fuente1);
  cursor: not-allowed !important;
  margin: 10px auto !important;
  padding: 5px 5px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disabled-btn span {
  margin: 0;
  padding: 0;
}

.disabled-btn:hover {
  background-color: var(--grey);
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

p {
  margin-top: 5px;
}

.links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.links a {
  color: var(--orange);
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.field-wrapper {
  display: flex;
  align-items: center;
}

.filter {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  background-color: var(--white);
  padding: 20px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.filter input {
  padding: 10px;
  font-family: var(--fuente2);
  font-size: var(--body-text);
  border: 1px solid var(--grey);
  border-radius: var(--border-radius);
}

.filter label {
  margin: 5px 0;
}

.filter input[type='checkbox'] {
  width: 10%;
}

.filter input[type='submit'],
button[type='submit'] {
  padding: 10px 20px;
  font-family: var(--fuente1);
  color: var(--white);
  background-color: var(--orange);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.filter input[type='submit']:hover {
  background-color: var(--dark-orange);
}

.filter select {
  padding: 10px;
  font-family: var(--fuente2);
  font-size: var(--body-text);
  border: 1px solid var(--grey);
  border-radius: var(--border-radius);
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black"><path d="M7 7l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
}
