{% extends 'base.html'%}
{% load static %}

{% block title %}ResumenCompra{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static "base.css" %}">
<link rel="stylesheet" href="{% static "carrito.css" %}">
<link rel="stylesheet" href="{% static "order-summary.css" %}">
{% endblock %}

{% block content %}
    <h2 id="title">Resumen de la compra</h2>  
    <section class="summary-contents">
        {% for item in cart_products %}
            <div id="product-{{item.product.id}}" class="summary-item">
                <div class="summary-item-info">
                    <h3>{{item.product.name}}</h3>
                    <attribute>
                        <label>Desde: </label>
                        <p>{{item.start_date}}</p>
                    </attribute>
                    <attribute>
                        <label>Hasta: </label>
                        <p>{{item.end_date}}</p>
                    </attribute>
                </div>
            </div>
        {% endfor %}
        <div class="delivery-payment">
            <form method="post">
                {% csrf_token %}
                <div class="select-field">      
                    <label for="id_payment_method">Método de Pago:</label>
                    {{ form.payment_method }}
                </div>
                <div class="select-field">
                    <label for="id_preferred_delivery_point">Punto de Recogida:</label>
                    {{ form.preferred_delivery_point }}
                </div>
            </form> 
        </div>
        <div class="cart-total">
            <h3>Total: </h3>
            <h4 id="price">{{total}} €</h4>
        </div>
        <div class="button-buy">
            <button id="buy-btn" class="primary-button" type="submit">Confirmar compra</button>
        </div>
    </section> 
    <div class="modal">
        <div class="modal-content form card-container">
            <h2>¿Quiere confirmar la compra?</h2>
            <span class="close material-icons">close</span>
            <p id="error-msg"></p>
            <a id="cancel-btn" class="primary-button">Cancelar</a>
            <a id="confirm-btn" class="primary-button">Confirmar</a>
        </div>
    </div> 
{% endblock %}


<script>
    {% block extrajs %}
        document.addEventListener('DOMContentLoaded', () => {
            const buyButton = document.querySelector('#buy-btn');

            updateButton();

        });

        async function updateButton(){
            const buyButton = document.querySelector('#buy-btn');
            buyButton.addEventListener('click', () => {
                spawnBuyModal();
            });
        }

        async function addOrder(){
            const customer_id = {{ customer.user.id }};
            const products = {{ cart_products }};
            const response = await fetch("orders/add",{
                method : 'POST',
                headers:{
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    'customer_id': customer_id,
                    'payment_method': document.querySelector('#id_payment_method').value,
                    'preferred_delivery_point': document.querySelector('#id_preferred_delivery_point').value,
                    'products': products
                })
            })

            const data = await response.json();
            if (data.success){
                window.location.href = '/';
            }
            else{
                const error_msg = document.querySelector('#error-msg');
                error_msg.innerHTML = data.error;
            }
        }
        
        async function spawnBuyModal(){
            const modal = document.querySelector('.modal');
            modal.style.display = 'flex';
            const close = document.querySelector('#cancel-btn');
            close.addEventListener('click', () => {
                modal.style.display = 'none';
            });
            document.querySelector('#confirm-btn').addEventListener('click', () => {
                addOrder();
            });
        }
    {% endblock %}
</script>

