{% extends 'base.html'%}
{% load static %}

{% block title %}ResumenCompra{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="{% static "base.css" %}">
<link rel="stylesheet" href="{% static "carrito.css" %}">
<link rel="stylesheet" href="{% static "order-summary.css" %}">
{% endblock %}

{% block content %}
    <h2 id="title">Resumen de la compra</h2>  
    <section class="summary-contents">
        {% for item in cart_products %}
            <div id="product-{{item.product.id}}" class="cart-item">
                <div class="cart-item-image">
                    <img class="car-img" src="{{item.product.image_url}}" alt="Imagen del producto">
                </div>
                <div class="cart-item-info">
                    <h3>{{item.product.name}}</h3>
                    <attribute>
                        <label>Desde: </label>
                        <p>{{item.start_date}}</p>
                    </attribute>
                    <attribute>
                        <label>Hasta: </label>
                        <p>{{item.end_date}}</p>
                    </attribute>
                </div>
            </div>
        {% endfor %}
        <div class="delivery-payment">
            <form method="post">
                {% csrf_token %}
                {% if user.is_authenticated %}
                {% else %}
                <div class="select-field">
                    <label for="id_email">Email:</label>
                    {{ form.email }}
                </div>
                {% endif %}
                <div class="select-field">      
                    <label for="id_payment_method">Método de Pago:</label>
                    {{ form.payment_method }}
                </div>
                <div class="select-field">
                    <label for="id_preferred_delivery_point">Punto de Recogida:</label>
                    {{ form.preferred_delivery_point }}
                </div>
            </form> 
        </div>
        <div class="cart-total">
            <h3>Total: </h3>
            <h4 id="price">{{total}} €</h4>
        </div>
        <p id="error-msg"></p>
        <div class="button-buy">
            <a id="buy-btn" class="primary-button">Confirmar compra</a>
        </div>
    </section> 
    <div class="modal">
        <div class="modal-content form card-container">
            <div class="confirm">
                <h2>¿Quiere confirmar la compra?</h2>
            </div>
            <div class="cancel-accept">
                <a id="cancel-btn" class="secondary-button">Cancelar</a>
                <a id="confirm-btn" class="primary-button">Confirmar</a>
            </div>
        </div>
    </div> 
{% endblock %}


<script>
    {% block extrajs %}
    document.addEventListener('DOMContentLoaded', () => {
        const buyButton = document.querySelector('.button-buy');
        buyButton.addEventListener('click', () => {
            if (validateData()){
                spawnModal();
            }
        });
    });

    function validateData() {
        const paymentMethod = document.querySelector('#id_payment_method').value;
        const deliveryPoint = document.querySelector('#id_preferred_delivery_point').value;
        if (paymentMethod == '' || deliveryPoint == '') {
            showNotification('Debe seleccionar un método de pago y un punto de recogida', 'success');
            return false;
        }
        {% if not user.is_authenticated %}
            const email = document.querySelector('#id_email').value;
            if (email == '') {
                showNotification('Debe introducir un email', 'success');
                return false;
            }
        {% endif %}
        return true;
    }

    async function addOrder(){
        const paymentMethod = document.querySelector('#id_payment_method').value;
        const deliveryPoint = document.querySelector('#id_preferred_delivery_point').value;
        const response = await fetch("/orders/add",{
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                'payment_method': paymentMethod,
                'delivery_point': deliveryPoint,
                {% if not user.is_authenticated %}
                    'email': document.querySelector('#id_email').value,
                {% endif %}
            }) 
        });

        const data = await response.json();
        if (data.error) {
            const error_msg = document.querySelector('#error-msg');
            error_msg.innerHTML = data.error;
        } else {
            closeModal();
            window.location.href = '/products';
        }
        
    }

    function closeModal() {
        const modal = document.querySelector('.modal');
        modal.style.display = 'none';
    }

    
    async function spawnModal() {
        const modal = document.querySelector('.modal');
        modal.style.display = 'flex';
        const close = document.querySelector('#cancel-btn');
        close.addEventListener('click', () => {
            modal.style.display = 'none';
        });
        const confirm = document.querySelector('#confirm-btn');
        confirm.addEventListener('click', () => {
            addOrder();
        });
        
    }

    {% endblock %}
</script>

